*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Cairo',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:url("images/icon.jpg") center center/cover no-repeat fixed;
}

.overlay{
position:fixed;
inset:0;
background:rgba(0,0,0,.55);
backdrop-filter:blur(8px);
}

.container{
position:relative;
z-index:2;
width:90%;
max-width:500px;
text-align:center;
}

h1{
font-size:55px;
color:white;
margin-bottom:15px;
}

p{
color:white;
margin-bottom:30px;
}
.music-player{
position:fixed;
left:10px;
right:10px;
bottom:10px;
background:rgba(255,255,255,.12);
backdrop-filter:blur(20px);
border-radius:20px;
padding:10px;
display:flex;
align-items:center;
gap:10px;
z-index:999;
}

.music-player img{
width:55px;
height:55px;
object-fit:cover;
border-radius:12px;
}

.music-info{
flex:1;
min-width:0;
}

.music-info h3{
font-size:.9rem;
margin-bottom:8px;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

#progress{
width:100%;
}

#playBtn{
width:50px;
height:50px;
border:none;
border-radius:50%;
font-size:1rem;
cursor:pointer;
}

@media(min-width:768px){

.music-player{
left:50%;
transform:translateX(-50%);
width:min(850px,95%);
right:auto;
}

.music-player img{
width:70px;
height:70px;
}

#playBtn{
width:60px;
height:60px;
}
}
.buttons{
display:flex;
flex-direction:column;
gap:15px;
}

.btn{
padding:18px;
border-radius:20px;
background:rgba(255,255,255,.1);
backdrop-filter:blur(20px);
text-decoration:none;
color:white;
font-size:20px;
font-weight:700;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}
